<footer>
  <div class="footer-container">
    <div class="author">
      <address class="author-name">Developed by Aldana Arcidiacono</address>
      <!-- <div class="links">
        <a href="https://www.linkedin.com/in/aldana-arcidiacono/">
          <i class="fa-brands fa-linkedin"> </i
        ></a>
        <a href="https://github.com/AldanaArcidiacono"
          ><i class="fa-brands fa-github"></i
        ></a>
      </div> -->
    </div>
    <!-- <img class="logo" src="./nirvana-logo.svg" alt="Nirvana Logo" /> -->
    <p class="copyright">
      Copyright © Discover Patagonia 2025 All rights reserved
    </p>
  </div>
</footer>
