footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  .footer-container {
    align-items: center;
    background-color: var(--primary);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    .author {
      align-items: center;
      display: flex;
      .author-name {
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 200;
        margin-bottom: 0;
      }
      .links {
        a {
          color: var(--black);
          margin-inline: 0.2rem;
        }
      }
    }
    .logo {
      max-width: 25px;
    }
    .copyright {
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 200;
    }
  }
}
